<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <div class="tituloCarrito">
    <h2 class="letraTitulos">CARRITO DE COMPRAS</h2>
    <h10 class="letraTitulos">ITEMS</h10>
    </div>

    <!-- Contenedor para mostrar los productos en el carrito -->
    <div id="cart-container">
        <!-- Mostrar mensaje si el carrito está vacío -->
        <% total = 0 %>
        <% if (productosEnCarrito.length === 0) { %>
            <p>El carrito está vacío. Agrega productos desde la tienda.</p>
        <% } else { %>
            <!-- Aquí se mostrarán los productos en el carrito -->
            <ul>
                <% productosEnCarrito.forEach((product) => {  total += (product.monto_unidad * product.cantidad)%>
                    <li class="productoCarrito">
                        <%= product.nombre %> - $<%= product.monto_unidad %> x <%= product.cantidad %>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </div>

    <!-- Mostrar el total de la compra -->
    <p class="totalCarrito">Total: $<%= total %></p>
    <button type="button" class="botonCarrito">COMPRAR</button>

    <!-- Aquí puedes agregar más interacción de usuario si es necesario, como botones para finalizar la compra o eliminar productos del carrito. -->

    <%- include('../partials/footer') %>
</body>
<script src="public/scripts/cart.js"></script>
</html>
