<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    
    <h3 class="letraTitulos">TU CARRITO</h3>
    <h5 class="letraTitulos">ITEMS</h5>

    <!-- Contenedor para mostrar los productos en el carrito -->
    <div id="cart-container">
        <!-- Mostrar mensaje si el carrito está vacío -->
        <% if (productosEnCarrito.length === 0) { %>
            <p>El carrito está vacío. Agrega productos desde la tienda.</p>
        <% } else { %>
            <!-- Aquí se mostrarán los productos en el carrito -->
            <ul>
                <% productosEnCarrito.forEach((product) => { %>
                    <li>
                        <%= product.Juego.nombre %> - $<%= product.monto_unidad %> x <%= product.cantidad %>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </div>

    <!-- Mostrar el total de la compra -->
    <p>Total: $<%= total %></p>

    <!-- Aquí puedes agregar más interacción de usuario si es necesario, como botones para finalizar la compra o eliminar productos del carrito. -->

    <%- include('../partials/footer') %>
</body>
<script src="public/scripts/cart.js"></script>
</html>
