<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    
    <h3 class="letraTitulos">TU CARRITO</h3>
    <h5 class="letraTitulos">ITEMS</h5>

    <ul id="product-list">
        <% for (let product of products) { %>
            <li data-id="<%= product.id %>">
                <%= product.nombre %> - $<%= product.precio %>
                <button class="add-to-cart-button" data-juego-id="<%= product.id %>">Agregar al carrito</button>
            </li>
        <% } %>
    </ul>

    <p>Total: $<span id="total">0</span></p>

    <%- include('../partials/footer') %>

    <script src="../../../public/scripts/cart.js"></script>
</body>
</html>
