<%- include('../partials/head') %>

<body>

  <%- include('../partials/header') %>

  <div class="login-box-centrado">
    <div class="login-box">
      <h2>Editar Producto</h2>
      <form method="POST" action="/productosRoutes/edit/<%= productoEdit.id %>">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" name="nombre" value="<%= productoEdit.nombre %>" required>
          <% if (locals.errors && errors.descripcion) { %>
            <div class="error-message">
              <h5><%= errors.nombre.msg %></h5>
            </div>
          <% } %>
        </div> 

        <div class="form-group">
          <label for="descripcion">Descripción:</label>
          <textarea class="form-control" id="descripcion" name="descripcion" rows="4" required><%= productoEdit.descripcion %></textarea>
          <% if (locals.errors && errors.descripcion) { %>
            <div class="error-message">
              <h5><%= errors.nombre.msg %></h5>
            </div>
          <% } %>
        </div> 

        <div class="form-group">
          <label for="precio">Precio:</label>
          <input type="number" class="form-control" id="precio" name="precio" value="<%= productoEdit.precio %>" required>
          <% if (locals.errors && errors.descripcion) { %>
            <div class="error-message">
              <h5><%= errors.nombre.msg %></h5>
            </div>
          <% } %>
        </div> 

        <div class="form-group">
          <label for="rating">Rating:</label>
          <input type="number" class="form-control" id="rating" name="rating" value="<%= productoEdit.rating %>" required>
          <% if (locals.errors && errors.descripcion) { %>
            <div class="error-message">
              <h5><%= errors.nombre.msg %></h5>
            </div>
          <% } %>
        </div> 

        <div class="form-group">
          <label for="fecha_alta">Fecha de Alta:</label>
          <input type="date" class="form-control" id="fecha_alta" name="fecha_alta" value="<%= productoEdit.fecha_alta %>" required>
        </div> 

        <div class="form-group">
          <label for="fecha_baja">Fecha de Baja:</label>
          <input type="date" class="form-control" id="fecha_baja" name="fecha_baja" value="<%= productoEdit.fecha_baja %>" required>
        </div> 

        <div class="form-group">
          <label for="descuento">Descuento:</label>
          <input type="number" class="form-control" id="descuento" name="descuento" value="<%= productoEdit.descuento %>" required>
        </div> 

        <input type="hidden" name="_method" value="PUT">
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      </form>
    </div>
  </div>

  <%- include('../partials/footer') %>

</body>
