<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Quest Store</title>
    <link rel="icon" type="image/x-icon" href="http://martincifre.alwaysdata.net/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@800&family=Roboto:ital@1&display=swap"
      rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.rtl.min.css" integrity="sha384-PJsj/BTMqILvmcej7ulplguok8ag4xFTPryRq8xevL7eBYSmpXKcbNVuy+P0RMgq" crossorigin="anonymous">
  
</head>
<body>
    <%- include('../partials/header') %>
    
    <div class="conteiner">
        <div class="productoVenta">
            <div class="tituloVenta">
                <p class="letraTitulos3"><%= juegoEncontrado.nombre %></p>
            </div>
            <div class="tituloVenta2">
                <div class="rating">
                    <img src="http://martincifre.alwaysdata.net/estrellitas.png">
                    <p class="letraTitulos numeroRating"><%= juegoEncontrado.rating  %></p>
                </div>
        <div class="generos">
            <i class="letraTitulos2">Generos: </i>
            <i class="letraTitulos2">
                <p class="card-text"><%= juegoEncontrado.genero  %></p>
            </i>
        </div>
    </div>
 
        <section class="etqVentaCompra">
            <div id="carouselExampleIndicators" class="carousel slide ">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="<%= juegoEncontrado.img1carrousel %>" class="d-block w-100" alt="screenshot hogwarts legacy 01">
                    </div>
                    <div class="carousel-item">
                        <img src="<%= juegoEncontrado.img2carrousel %>" class="d-block w-100" alt="screenshot hogwarts legacy 02">
                    </div>
                    <div class="carousel-item">
                        <img src="<%= juegoEncontrado.img3carrousel %>" class="d-block w-100" alt="screenshot hogwarts legacy 03">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="centrado"> <button type="button" class="btn btn-light botonCompra2">COMPRAR</button>  </div>
        </section>
        <div class="textoVenta">
        <p class="card-text"><%= juegoEncontrado.descripcion  %></p>
        </div>
         </p>    
        </div>
        </div>
    
    <%- include('../partials/footer') %>

    <script src="js/addons/rating.js"></script>
<script src="https://kit.fontawesome.com/06e87440fe.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>

