<%- include('../partials/head') %>

<body>
  
  <%- include('../partials/header') %>

  <div class="login-box-centrado">
    <div class="login-box">
      <h2>LOG-IN</h2>
      <form action="/login" method="POST">
        <div class="login-text">
          <label for="email">Email</label>
            <input type="text" name="email" placeholder="Enter Email">
            <% if (locals.errors && errors.email) { %>
              <div class="error-message">
                <h5><%= errors.email.msg %></h5>
              </div>
          <% } %>
            <br>

            <label for="password">Password</label>
            <input type="password" name="userPassword" placeholder="Enter Password">
            <% if (locals.errors && errors.userPassword) { %>
              <div class="error-message">
                <h5><%= errors.userPassword.msg %></h5>
              </div>
          <% } %>
            <br>
            <input type="submit" value="Log in">
      </div>
        <div>
          <input type="checkbox" class="form-check-input checkBox center" id="remember" name="remember">
          <label class="form-check-label center" for="exampleCheck1">Recuerdame</label>
        </div>
        <a href="#">Lost your Password?</a><br>
        <a href="/register">Don't have An account?</a>
      </form>

    </div>
  </div>
  
  <%- include('../partials/footer') %>
  
</body>

</html>