<%- include('../partials/head') %>

<body>
  
  <%- include('../partials/header') %>

  <div class="login-box-centrado">
    <div class="login-box">
      <h2>REGISTER</h2>
         <br>

      <form action="/register" method="POST" enctype="multipart/form-data">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre"  value="<%= locals.oldData && oldData.nombre ? oldData.nombre : ''%>" placeholder="Ingresa el nombre">
        <% if (locals.errors && errors.nombre) { %>
            <div class="error-message">
              <h5><%= errors.nombre.msg %></h5>
            </div>
            <% } %>
              <br>
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido"  value="<%= locals.oldData && oldData.apellido ? oldData.apellido : ''%>" placeholder="Ingresa el apellido">
        <% if (locals.errors && errors.apellido) { %>
            <div class="error-message">
              <h5><%= errors.apellido.msg %></h5>
            </div>
            <% } %>
              <br>
          <label for="dni">DNI</label>
        <input type="text" name="dni" id="dni"  value="<%= locals.oldData && oldData.dni ? oldData.dni : ' '%>" placeholder="Ingresa el dni">
        <% if (locals.errors && errors.dni) { %>
          <div class="error-message">
            <h5><%= errors.dni.msg %></h5>
          </div>
      <% } %>
            <br>
        <label for="userPassword">Password</label>
        <input type="password" name="userPassword"  placeholder="Enter Password">
        <% if (locals.errors && errors.userPassword) { %>
          <div class="error-message">
            <h5><%= errors.userPassword.msg %></h5>
          </div>
      <% } %>
          <br>
        <label for="email">Email</label>
        <input type="email" name="email" id="email"  value="<%= locals.old && old.email ? old.email : '' %>" placeholder="Enter Email">
        <% if (locals.errors && errors.email) { %>
          <div class="error-message">
            <h5><%= errors.email.msg %></h5>
          </div>
      <% } %>
          <br>
        <label for="avatar" class="form-label">Imagen perfil</label>
        <input class="form-control" type="file" name="avatar" id="avatar">
        <% if (locals.errors && errors.avatar) { %>
          <div class="text-danger">
            <%= errors.avatar.msg %>
          </div>
          <% } %>
          <br>
                <input type="submit" value="Enviar">
        
      </form>
    </div>
  </div>
  
  <%- include('../partials/footer') %>

</body>

</html>