<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game Quest Store</title>
  <link rel="icon" type="image/x-icon" href="http://martincifre.alwaysdata.net/favicon.ico">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Geologica:wght@800&family=Roboto:ital@1&display=swap"
    rel="stylesheet">
</head>

<body>
  
  <%- include('../partials/header') %>

  <div class="login-box-centrado">
    <div class="login-box">
      <h2>REGISTER</h2>
         <br>

      <form action="/register" method="POST" enctype="multipart/form-data">
        <label for="username">Nombre</label>
        <input type="text" name="userName" id="userName"  value="<%= locals.oldData && oldData.userName ? oldData.userName : ' '%>" placeholder="Ingresa el Username">
        <% if (locals.errors && errors.userName) { %>
            <div class="text-danger">
              <%= errors.userName.msg %>
            </div>
            <% } %>
            <br>
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido"  value="<%= locals.oldData && oldData.apellido ? oldData.apellido : ' '%>" placeholder="Ingresa el apellido">
        <% if (locals.errors && errors.apellido) { %>
            <div class="text-danger">
              <%= errors.apellido.msg %>
            </div>
            <% } %>
            <br>
            <label for="dni">DNI (ingresar sin punto ".")</label>
        <input type="text" name="dni" id="dni"  value="<%= locals.oldData && oldData.dni ? oldData.dni : ' '%>" placeholder="Ingresa el dni">
        <% if (locals.errors && errors.dni) { %>
            <div class="text-danger">
              <%= errors.dni.msg %>
            </div>
            <% } %>
            <br>
        <label for="userPassword">Password</label>
        <input type="password" name="userPassword"  placeholder="Enter Password">
        <% if (locals.errors && errors.password) { %>
          <div class="text-danger">
            <%= errors.password.msg %>
          </div>
          <% } %>
          <br>
        <label for="email">Email</label>
        <input type="email" name="email" id="email"  value="<%= locals.old && old.email ? old.email : '' %>" placeholder="Enter Email">
        <% if (locals.errors && errors.email) { %>
          <div class="text-danger">
            <%= errors.email.msg %>
          </div>
          <% } %>
          <br>
        <label for="avatar" class="form-label">Imagen perfil</label>
        <input class="form-control" type="file" name="avatar" id="avatar">
        <% if (locals.errors && errors.avatar) { %>
          <div class="text-danger">
            <%= errors.avatar.msg %>
          </div>
          <% } %>
          <br>
                <input type="submit" value="Enviar">
        
      </form>
    </div>
  </div>
  
  <%- include('../partials/footer') %>

</body>

</html>