<%- include('../partials/head') %>

<body>
  
  <%- include('../partials/header') %>

  <%- include('desings/carrousel') %>

  <%- include('desings/main') %>
  
  <%- include('../partials/footer') %>
  
</body>

</html>